@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*header*/
.header {
  height: 100vh;
  color: #ffffff;
  background-image: url("../img/img-header.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: myAnim 5s ease-in-out 0s forwards;
}
@keyframes myAnim {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 130%;
  }
}
.header .navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 3rem 0;
}
.header .navbar .logo {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 500;
  padding-left: 2rem;
}
.header .navbar ul li a {
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
.header .navbar ul li a:hover {
  color: #6495ed;
}
.header .texto-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 60%;
  margin: 1rem;
}
.header .texto-header h1 {
  font-size: clamp(1rem, 4vw + 1.25rem, 4rem);
  text-align: center;
  text-transform: capitalize;
}
.header .texto-header h2 {
  font-size: 2rem;
  width: 50%;
  text-align: center;
  font-weight: 400;
}
.header .texto-header h2::first-letter {
  font-size: 2rem;
  text-transform: uppercase;
}

/* seccion uno */
.seccionUno {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}
.seccionUno .divABC-E {
  max-width: 1200px;
}
.seccionUno .divABC-E h2 {
  font-size: 9rem;
  color: #6495ed;
  text-align: center;
}
.seccionUno .divABC-E p {
  font-size: 2rem;
  text-align: center;
  color: #6495ed;
}
.seccionUno .seccionUno-descripsion {
  width: 500px;
}
.seccionUno .seccionUno-descripsion .div-contenedor-seccionUno {
  display: flex;
  align-items: center;
}
.seccionUno .seccionUno-descripsion .div-contenedor-seccionUno .div-span span {
  font-size: 2rem;
  border-radius: 150%;
  border: solid 3px black;
  padding: 1% 10px;
  margin: 2rem;
}
.seccionUno .seccionUno-descripsion .div-contenedor-seccionUno .div-info h3 {
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  margin: 1rem 0;
}
.seccionUno .seccionUno-descripsion .div-contenedor-seccionUno .div-info p {
  margin: 1rem 0;
  font-weight: 300;
}

/* seccion dos */
.seccionDos-calidad {
  display: flex;
  align-items: center;
  height: 100vh;
  background-image: url("../img/sep1.webp");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.seccionDos-calidad .div-calidad {
  display: flex;
  align-items: center;
  width: 500px;
  height: 400px;
  background-color: #ffffff;
}
.seccionDos-calidad .div-calidad .div-info-calidad h3 {
  font-size: 2rem;
  margin: 3rem;
  text-align: center;
}
.seccionDos-calidad .div-calidad .div-info-calidad p {
  margin: 3rem;
  text-align: center;
}
.seccionDos-calidad .div-calidad .div-info-calidad span {
  color: #00668c;
}

/*seccion tres - servicios*/
.seccionTres-servicios {
  text-align: center;
}
.seccionTres-servicios .div-servicios {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 5rem 0;
}
.seccionTres-servicios .div-servicios div {
  min-width: 300px;
  max-width: 400px;
  margin: 1rem;
  box-shadow: 3px 5px 7px 1px rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
}
.seccionTres-servicios .div-servicios div h3 {
  margin: 0.5rem 0;
}

.titulo {
  font-size: 2rem;
  padding-top: 5rem;
}

.enlace {
  color: #313d44;
}
.enlace:hover {
  color: #6495ed;
}

.texto {
  margin: 5rem auto;
  padding: 1rem;
  width: 50%;
  box-shadow: 3px 5px 7px 1px rgba(0, 0, 0, 0.3);
}

/*seccion cuatro - proyectos*/
.seccionCuatro-proyectos {
  background-color: #f5f4f1;
  text-align: center;
}
.seccionCuatro-proyectos .div-grid {
  display: grid;
  grid: "img1 img2 img5 img5" "img3 img2 img5 img5" "img3 img4 img5 img5";
  gap: 0.5rem;
  margin: 1rem;
}
.seccionCuatro-proyectos .div-grid img {
  width: 100%;
  box-shadow: 3px 5px 7px 1px rgba(0, 0, 0, 0.3);
}
.seccionCuatro-proyectos .div-grid .img1 {
  grid-area: img1;
}
.seccionCuatro-proyectos .div-grid .img1:hover {
  filter: brightness(0.7);
}
.seccionCuatro-proyectos .div-grid .img2 {
  grid-area: img2;
}
.seccionCuatro-proyectos .div-grid .img2:hover {
  filter: brightness(0.7);
}
.seccionCuatro-proyectos .div-grid .img3 {
  grid-area: img3;
}
.seccionCuatro-proyectos .div-grid .img3:hover {
  filter: brightness(0.7);
}
.seccionCuatro-proyectos .div-grid .img4 {
  grid-area: img4;
}
.seccionCuatro-proyectos .div-grid .img4:hover {
  filter: brightness(0.7);
}
.seccionCuatro-proyectos .div-grid .img5 {
  grid-area: img5;
}
.seccionCuatro-proyectos .div-grid .img5:hover {
  filter: brightness(0.7);
}

/*seccion cinco - clientes*/
.seccionCinco-clientes {
  text-align: center;
}
.seccionCinco-clientes .div-logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10rem 15rem;
  width: 80%;
  margin: auto;
  padding: 5rem;
}
.seccionCinco-clientes .div-logos img {
  box-shadow: 3px 5px 7px 1px rgba(0, 0, 0, 0.3);
}

/*seccion seis - contactos*/
.mapa {
  margin: auto;
}

.whatsapp {
  position: fixed;
  bottom: 100px;
  right: 5%;
}
.whatsapp:hover {
  border: #6495ed 5px solid;
  border-radius: 50%;
  padding: 0.5rem;
}
.whatsapp svg {
  width: 4rem;
  height: 4rem;
}

.seccionSeis-contacto .div-contactos {
  width: 50%;
  margin: auto;
  border: #6495ed 1px solid;
  text-align: center;
  position: relative;
  top: -130px;
  background-color: #fff;
  box-shadow: 3px 5px 7px 1px rgba(0, 0, 0, 0.3);
  padding: 1rem;
}
.seccionSeis-contacto .div-contactos h3 {
  font-size: 4rem;
  color: #6495ed;
  margin: 1rem;
}
.seccionSeis-contacto .div-contactos p {
  font-size: 1.5rem;
  color: #333333;
  margin: 1rem;
  text-align: justify;
}
.seccionSeis-contacto .div-contactos p span {
  margin-right: 1rem;
}

/*footer*/
footer {
  background-color: #333333;
}
footer h3 {
  color: #aaaaaa;
  padding: 40px;
  margin-bottom: 0;
}

/*servicios*/
.contenedor-servicios {
  display: flex;
  align-items: center;
}
.contenedor-servicios .div-contenedor-servicios {
  width: 50%;
  padding: 2rem;
}
.contenedor-servicios .div-contenedor-servicios .titulo-contenedor-servicios {
  font-size: 1.5rem;
  text-align: center;
}
.contenedor-servicios .div-contenedor-servicios .texto-contenedor-servicios {
  font-size: 1rem;
  padding: 0.3rem;
  text-align: justify;
}
.contenedor-servicios .div-contenedor-img {
  padding: 2rem;
  width: 50%;
}
.contenedor-servicios .div-contenedor-img .img-Servicios {
  width: 70%;
  box-shadow: 3px 5px 7px 1px rgba(0, 0, 0, 0.9);
}

/*proyectos */
.div-contenedor-proyectos {
  display: flex;
  flex-wrap: wrap;
}
.div-contenedor-proyectos .contenedor-proyectos {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 1rem auto;
  background-color: #ffffff;
  box-shadow: 3px 5px 7px 1px rgba(0, 0, 0, 0.9);
}
.div-contenedor-proyectos .contenedor-proyectos .img-proyecto {
  width: 100%;
  height: 60%;
}
.div-contenedor-proyectos .contenedor-proyectos .img-proyecto:hover {
  filter: brightness(0.7);
}
.div-contenedor-proyectos .contenedor-proyectos .texto-proyecto {
  text-align: justify;
  margin: 1rem;
  padding: 0.5rem;
}

.w-100 {
  padding: 1rem;
}

/*clientes*/
.contenedor-clientes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}
.contenedor-clientes .texto-clientes {
  width: 70%;
  text-align: justify;
  color: #ffffff;
  background-color: #333333;
  padding: 2rem;
  box-shadow: 3px 5px 7px 1px rgba(0, 0, 0, 0.9);
}

/* medias querys */
@media only screen and (max-width: 1200px) {
  .header {
    animation: initial;
  }
  .seccionUno {
    height: 100%;
  }
}
@media only screen and (max-width: 960px) {
  .header {
    animation: initial;
  }
  .seccionUno {
    height: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .header .navbar {
    justify-content: space-between;
    padding: 3rem 1rem;
  }
  .navbar-collapse {
    margin: 0 2rem;
  }
  .logo {
    padding: 0;
  }
  .texto-header {
    height: 0;
  }
  .texto-header h1 {
    font-size: 2.5rem;
  }
  .texto-header h2 {
    display: none;
  }
  /* seccion uno */
  .seccionUno .divABC-E h2 {
    font-size: 6rem;
  }
  .seccionUno .divABC-E p {
    font-size: 1.5rem;
  }
  .seccionUno .seccionUno-descripsion .div-contenedor-seccionUno .div-span {
    display: none;
  }
  .seccionUno .seccionUno-descripsion {
    width: auto;
  }
  .div-contenedor-seccionUno {
    padding: 10px;
  }
  /* seccion dos */
  .div-calidad {
    margin: 0;
  }
  .texto {
    width: auto;
    padding: 0.5rem;
    margin: 1rem;
  }
  /* seccion cuatro */
  .seccionCuatro-proyectos .div-grid {
    display: block;
  }
  .div-grid img {
    margin-bottom: 0.5rem;
  }
  /* seccion cinco */
  .seccionCinco-clientes .div-logos {
    gap: 2rem;
    padding: 1rem;
    width: 100%;
    margin-bottom: 3rem;
  }
  /* seccion seis */
  .seccionSeis-contacto .div-contactos {
    width: auto;
    position: inherit;
    margin: 1rem;
  }
  .div-contactos p {
    font-size: 1rem !important;
    margin: 1rem 0 !important;
  }
  /* html servicios */
  .contenedor-servicios {
    flex-direction: column;
  }
  .contenedor-servicios .div-contenedor-img {
    width: 100%;
  }
  .contenedor-servicios:nth-child(2n+1) {
    flex-direction: column-reverse;
  }
  .contenedor-servicios .div-contenedor-servicios {
    width: 100%;
    padding: 1rem;
  }
  /* html proyectos */
  .div-contenedor-proyectos .contenedor-proyectos {
    width: 100%;
    margin: 1rem;
  }
  /* html clientes */
  .contenedor-clientes {
    flex-direction: column;
    padding: 0;
    margin: 1rem 0;
  }
  .texto-clientes {
    width: 90% !important;
    text-align: justify;
    margin: 1rem;
  }
  .contenedor-clientes:nth-child(2n) {
    flex-direction: column-reverse;
  }
}

/*# sourceMappingURL=style.css.map */
