/*clientes*/
.contenedor-clientes{
    @include flex(null, space-around, center, null);
    padding: 2rem;

    & .texto-clientes{
        width: 70%;
        text-align: justify;
        color: $bg-100;
        background-color: $bg-300;
        padding: 2rem;
        box-shadow: 3px 5px 7px 1px rgba(0,0,0,0.9);
    }
}