/*header*/ 
.header{
    height: 100vh;
    color: $bg-100;
    background-image: url("../img/img-header.webp");
    background-position: center;
    background-repeat: no-repeat;

        & .navbar{
            @include flex(null, space-around, center, wrap);
            padding: 3rem 0;

            & .logo{
                font-size: 3rem;
                text-transform: uppercase;
                font-weight: 500;
                padding-left: 2rem;
            }

            & ul li a{
                font-size: 1rem;
                text-transform: uppercase;
                text-decoration: none;
                color: #fff;

                &:hover{
                    color: #6495ed;
                }
            }

            
        }

        & .texto-header{
            @include flex(column, space-around, center, null);
            height: 60%;
            margin: 1rem;

            & h1{
                font-size: clamp(1rem, 4vw + 1.25rem, 4rem);
                text-align: center;
                text-transform: capitalize;
            }

            & h2{
                font-size: 2rem;
                width: 50%;
                text-align: center;
                font-weight: 400;

                &::first-letter{
                    font-size: 2rem;
                    text-transform: uppercase;
                }
            }

            
        }
}

/* seccion uno */

.seccionUno{
    @include flex(null, space-around, center, wrap);
    height: 100vh;

        & .divABC-E{
            max-width: 1200px;

            & h2{
                font-size: 9rem;
                color: $primary-200;
                text-align: center;
            }

            & p{
                font-size: 2rem;
                text-align: center;
                color: $primary-200;
            }
        }

        & .seccionUno-descripsion{
            width: 500px;

            & .div-contenedor-seccionUno{
                @include flex(null, space-around, center, null);

                & .div-span span{
                    font-size: 2rem;
                    border-radius: 150%;
                    border: solid 3px black;
                    padding: 1% 10px;
                    margin: 2rem;
                }

                & .div-info h3{
                    font-size: 1rem;
                    font-weight: 500;
                    text-transform: capitalize;
                    margin: 1rem 0;
                }

                & .div-info p{
                    margin: 1rem 0;
                    font-weight: 300;
                }
            }
        }
}

/* seccion dos */

.seccionDos-calidad{
    @include flex(null, null, center, null);
    height: 100vh;
    background-image: url("../img/sep1.webp");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    & .div-calidad{
        @include flex(null, null, center, null);
        width: 500px;
        height: 400px;
        margin-left: 5%;
        background-color: $bg-100;

        & .div-info-calidad h3{
            font-size: 2rem;
            margin: 3rem;
            text-align: center;
        }

        & .div-info-calidad p{
            margin: 3rem;
            text-align: center;
        }

        & .div-info-calidad span{
            color: $accent-200;
        }
    }
}

/*seccion tres*/ 

.seccionTres-servicios{
    text-align: center;

    & .titulo{
        font-size: 2rem;
        padding-top: 5rem;
    }
}